<%- include('./header', {}) %>
<title>Doc</title>

<script>
function editDoc( id ){
  if( id ){
    window.location.href = '/edit/' + id;
  }
}

function deleteDoc( id ){
  if( id && confirm( '本当に削除しますか？' ) ){
    //. API を使って削除
    $.ajax({
      type: 'DELETE',
      url: '/db/doc/' + id,
      success: function( result ){
        //. 削除処理が成功したらトップページへ
        window.location.href = '/';
      },
      error: function( e0, e1, e2 ){
        console.log( 'DELEte error: ', e0, e1, e2 );
      }
    });
  }
}
</script>
  
</head>
<body>

<%- include('./navi', {}) %>

<div class="container">
<% if( doc ){ %>
  <div style="text-align: right;">
    <button class="btn btn-warning" onClick="editDoc('<%= doc.id %>');">編集</button>
    <button class="btn btn-danger" onClick="deleteDoc('<%= doc.id %>');">削除</button>
  </div>

  <table class="table table-bordered">
  <tr>
    <td>ID</td>
    <td><%= doc.id %></td>
  </tr>
  <tr>
    <td>name</td>
    <td><%= doc.name %></td>
  </tr>
  <tr>
    <td>updated</td>
    <td><%= doc.updated %></td>
  </tr>
  </table>
<% } %>
</div>

<%- include('./footer', {}) %>

</body>
</html>
