<%- include('./header', {}) %>
<title>Docs</title>

<script>
$(function(){
  //. データテーブルの適用
  $('#list-table').DataTable({
    language: {
      url: "//cdn.datatables.net/plug-ins/1.10.22/i18n/Japanese.json"
    },
    initComplete: function( settings, json ){
    }
  });
});

//. 作成ボタン
function createDoc(){
  window.location.href = '/edit';
}
</script>

</head>
<body>

<%- include('./navi', {}) %>

<div class="container">
  <div style="text-align: right;">
    <button class="btn btn-success" onClick="createDoc();">作成</button>
  </div>

  <table class="table table-bordered" id="list-table">
    <thead>
      <tr><th>ID</th><th>名前</th><th>日時</th></tr>
    </thead>
    <tbody id="list-tbody">
<% docs.forEach( function( doc ){ %>
      <tr>
        <td><a href="/doc/<%= doc.id %>"><%= doc.id %></a></td>
        <td><%= doc.name %></td>
        <td><%= doc.updated %></td>
      </tr>
<% }); %>
    </tbody>
  </table>
</div>

<%- include('./footer', {}) %>

</body>
</html>
